body{
	background:#808080;
	border-top: 12px solid #0dcaf0;
	border-bottom: 12px solid #0dcaf0;
	height: 100vh;
}

h1, label, .btn-info, h2, th, td{
	color: #fff!important;
	font-family: 'Montserrat', sans-serif!important;
}

h1, .btn-info{
	text-transform: uppercase;
}

input{
	padding: 0.7em;
}

.cadastro{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: auto;
	margin: 0em 10em;
	background: transparent;!important;
	border-radius: 20px;
	padding: 80px;
	margin-top: 40px;
	border: 10px solid #3dd5f3;
	box-shadow: 2px 2px 15px -5px #000000;
}


@media (max-width: 767px){
	input{
		margin:0em!important;
	}

	.cadastro, .m-2{
		margin: 5px!important;
		padding: 0px!important;
	}

}